<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>GeForce</string>
	<key>CFBundleGetInfoString</key>
	<string>GeForce 16.0.14 </string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.GeForce</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NVIDIA GeForce Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>16.0.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>16.0.0</string>
	<key>GPUCompanionBundles</key>
	<array>
		<string>GeForceAIRPlugin.bundle</string>
		<string>GeForceGLDriver.bundle</string>
		<string>GeForceMTLDriver.bundle</string>
		<string>GeForceVADriver.bundle</string>
	</array>
	<key>IOKitPersonalities</key>
	<dict>
		<key>GeForce</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.GeForce</string>
			<key>IOAccelDisplayPipeCapabilities</key>
			<dict>
				<key>DisplayPipeSupported</key>
				<true/>
				<key>TransactionsSupported</key>
				<true/>
			</dict>
			<key>IOClass</key>
			<string>nvAccelerator</string>
			<key>IODVDBundleName</key>
			<string>GeForceVADriver</string>
			<key>IOGLBundleName</key>
			<string>GeForceGLDriver</string>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOPropertyMatch</key>
			<array>
				<dict>
					<key>NVArch</key>
					<string>GF100</string>
					<key>NVDAType</key>
					<string>Official</string>
					<key>nubType</key>
					<string>NVDAgl</string>
					<key>unmatched</key>
					<string>yes</string>
				</dict>
				<dict>
					<key>NVArch</key>
					<string>GK100</string>
					<key>NVDAType</key>
					<string>Official</string>
					<key>nubType</key>
					<string>NVDAgl</string>
					<key>unmatched</key>
					<string>yes</string>
				</dict>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>IOSourceVersion</key>
			<string>16.0.14</string>
			<key>IOVABundleName</key>
			<string>GeForceVADriver</string>
			<key>MetalPluginClassName</key>
			<string>NVMTLDevice</string>
			<key>MetalPluginName</key>
			<string>GeForceMTLDriver</string>
			<key>MetalStatisticsName</key>
			<string>GeForceStatistics</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2017 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAcceleratorFamily2</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOSurface</key>
		<string>87.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0b1</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0b1</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0b1</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0b1</string>
		<key>com.apple.nvidia.driver.NVDAResman</key>
		<string>1.2.0</string>
	</dict>
</dict>
</plist>
